	Main
	function main
		main
			<subroutineBody>
			<varDec>
				Array
				a
				b
				c
			</varDec>
			<statements>
					a
							Array
							new
										10
					b
							Array
							new
										5
					c
							Array
							new
										1
					a
							3
							2
					a
							4
							8
					a
							5
							4
					b
							a
									3
							a
									3
						add
							3
					a
							b
									a
											3
							a
									a
											5
						call mull
							b
													7
												sub
													a
															3
										sub
											Main
											double
														2
								add
									1
					c
							0
					c
							c
									0
				call
					Output
					printString
								<stringConstant> Test 1: expected result: 5 ; actual result:  </stringConstant>
				call
					Output
					printInt
								b
										2
				call
					Output
					println
				call
					Output
					printString
								<stringConstant> Test 2: expected result: 40 ; actual result:  </stringConstant>
				call
					Output
					printInt
								a
										5
				call
					Output
					println
				call
					Output
					printString
								<stringConstant> Test 3: expected result: 0 ; actual result:  </stringConstant>
				call
					Output
					printInt
								c
				call
					Output
					println
					c
				<ifStatement>
					<keyword> if </keyword>
							c
					<statements>
						call
							Main
							fill
										a
										10
							c
									a
											3
							c
									1
									33
							c
									a
											7
							c
									1
									77
							b
									a
											3
							b
									1
									b
											1
								add
									c
											1
					</statements>
				</ifStatement>
				call
					Output
					printString
								<stringConstant> Test 4: expected result: 77 ; actual result:  </stringConstant>
				call
					Output
					printInt
								c
										1
				call
					Output
					println
				call
					Output
					printString
								<stringConstant> Test 5: expected result: 110 ; actual result:  </stringConstant>
				call
					Output
					printInt
								b
										1
				call
					Output
					println
				return
			</statements>
			</subroutineBody>
	function double
		double
			a
			<subroutineBody>
			<statements>
				return
							a
						call mull
							2
			</statements>
			</subroutineBody>
	function fill
		fill
			Array
			a
			size
			<subroutineBody>
			<statements>
				<whileStatement>
					<keyword> while </keyword>
							size
							0
					<statements>
							size
									size
								sub
									1
							a
									size
									Array
									new
												3
					</statements>
				</whileStatement>
				return
			</statements>
			</subroutineBody>
