	Square
	<classVarDec>
		x
		y
	</classVarDec>
	<classVarDec>
		size
	</classVarDec>
	function new
		Square
		new
			Ax
			Ay
			Asize
			<subroutineBody>
			<statements>
					x
							Ax
					y
							Ay
					size
							Asize
				call
					draw
				return
			</statements>
			</subroutineBody>
	function dispose
		dispose
			<subroutineBody>
			<statements>
				call
					Memory
					deAlloc
				return
			</statements>
			</subroutineBody>
	function draw
		draw
			<subroutineBody>
			<statements>
				call
					Screen
					setColor
				call
					Screen
					drawRectangle
								x
								y
								x
							add
								size
								y
							add
								size
				return
			</statements>
			</subroutineBody>
	function erase
		erase
			<subroutineBody>
			<statements>
				call
					Screen
					setColor
				call
					Screen
					drawRectangle
								x
								y
								x
							add
								size
								y
							add
								size
				return
			</statements>
			</subroutineBody>
	function incSize
		incSize
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
											y
										add
											size
									254
											x
										add
											size
									510
					<statements>
						call
							erase
							size
									size
								add
									2
						call
							draw
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
	function decSize
		decSize
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
							size
							2
					<statements>
						call
							erase
							size
									size
								sub
									2
						call
							draw
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
	function moveUp
		moveUp
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
							y
							1
					<statements>
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
												y
											add
												size
									sub
										1
										x
									add
										size
										y
									add
										size
							y
									y
								sub
									2
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
										y
										x
									add
										size
										y
									add
										1
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
	function moveDown
		moveDown
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
									y
								add
									size
							254
					<statements>
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
										y
										x
									add
										size
										y
									add
										1
							y
									y
								add
									2
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
												y
											add
												size
									sub
										1
										x
									add
										size
										y
									add
										size
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
	function moveLeft
		moveLeft
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
							x
							1
					<statements>
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
												x
											add
												size
									sub
										1
										y
										x
									add
										size
										y
									add
										size
							x
									x
								sub
									2
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
										y
										x
									add
										1
										y
									add
										size
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
	function moveRight
		moveRight
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
									x
								add
									size
							510
					<statements>
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
										y
										x
									add
										1
										y
									add
										size
							x
									x
								add
									2
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
												x
											add
												size
									sub
										1
										y
										x
									add
										size
										y
									add
										size
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
