	Bat
	<classVarDec>
		x
		y
	</classVarDec>
	<classVarDec>
		width
		height
	</classVarDec>
	<classVarDec>
		direction
	</classVarDec>
	function new
		Bat
		new
			Ax
			Ay
			Awidth
			Aheight
			<subroutineBody>
			<statements>
					x
							Ax
					y
							Ay
					width
							Awidth
					height
							Aheight
					direction
							2
				call
					show
				return
			</statements>
			</subroutineBody>
	function dispose
		dispose
			<subroutineBody>
			<statements>
				call
					Memory
					deAlloc
				return
			</statements>
			</subroutineBody>
	function show
		show
			<subroutineBody>
			<statements>
				call
					Screen
					setColor
				call
					draw
				return
			</statements>
			</subroutineBody>
	function hide
		hide
			<subroutineBody>
			<statements>
				call
					Screen
					setColor
				call
					draw
				return
			</statements>
			</subroutineBody>
	function draw
		draw
			<subroutineBody>
			<statements>
				call
					Screen
					drawRectangle
								x
								y
								x
							add
								width
								y
							add
								height
				return
			</statements>
			</subroutineBody>
	function setDirection
		setDirection
			Adirection
			<subroutineBody>
			<statements>
					direction
							Adirection
				return
			</statements>
			</subroutineBody>
	function getLeft
		getLeft
			<subroutineBody>
			<statements>
				return
							x
			</statements>
			</subroutineBody>
	function getRight
		getRight
			<subroutineBody>
			<statements>
				return
							x
						add
							width
			</statements>
			</subroutineBody>
	function setWidth
		setWidth
			Awidth
			<subroutineBody>
			<statements>
				call
					hide
					width
							Awidth
				call
					show
				return
			</statements>
			</subroutineBody>
	function move
		move
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
							direction
							1
					<statements>
							x
									x
								sub
									4
						<ifStatement>
							<keyword> if </keyword>
									x
									0
							<statements>
									x
											0
							</statements>
						</ifStatement>
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
												x
											add
												width
									add
										1
										y
												x
											add
												width
									add
										4
										y
									add
										height
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
										y
										x
									add
										3
										y
									add
										height
					</statements>
					<statements>
							x
									x
								add
									4
						<ifStatement>
							<keyword> if </keyword>
											x
										add
											width
									511
							<statements>
									x
											511
										sub
											width
							</statements>
						</ifStatement>
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
										x
									sub
										4
										y
										x
									sub
										1
										y
									add
										height
						call
							Screen
							setColor
						call
							Screen
							drawRectangle
												x
											add
												width
									sub
										3
										y
										x
									add
										width
										y
									add
										height
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
