	If
	function main
		main
			<subroutineBody>
			<statements>
				<ifStatement>
					<keyword> if </keyword>
					<statements>
					</statements>
				</ifStatement>
				return
			</statements>
			</subroutineBody>
